<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebOffice.Client</a>
    </div>
</div>

<!-- Боковое меню временно отключено -->

@code {
    // Логика бокового меню временно отключена
}